.filter-container {
    display: flex;
    height: 54px;
    align-items: center;
    border: solid 1px #d4d4d4;
    width: 65vw;
    margin-left: 22px;
    padding-left: 22px;
    border-radius: 13px;
    padding-right: 22px;
    margin-top: 22px;

    .filter-select {
        min-width: 200px;
        margin-right: 22px;
    }

    .rhs-container {
        flex: 1;

        .filter-select {
            width: 400px;
        }
    }

    .remove-button {
        cursor: pointer;
    }
}