.home-page-container {
    .add-button {
        width: 65vw;
        display: flex;
        justify-content: center;
        font-size: 34px;
        border: solid 1px #d4d4d4;
        height: 54px;
        margin-left: 22px;
        margin-top: 22px;
        height: 54px;
        border-radius: 13px;
        cursor: pointer;
    }
    
    .log-to-console-button {
        margin-left: 22px;
        margin-top: 60px;
    }
}